.login-container {
  width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;

  /* Centering using absolute positioning */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin-bottom: 5px;
}

.login-form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}
#username {
  margin-left: 5px;
}
#password {
  margin-left: 10px;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden; /* Prevent scrollbars */
}

.app {
  display: flex;
  height: 100vh; /* Make the app take the full viewport height */
}

.sidebar {
  width: 200px;
  background-color: #aed4ff;
  padding: 20px;
  height: 100vh; /* Make the sidebar take the full viewport height */
}


.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  background-color: #ddd;
  margin-bottom: 4px;

}
/* 
.sidebar ul li:hover {
  background-color: #ddd;
} */

.nested {
  display: flex;
  list-style-type: none;
  padding: 5px;
  flex-wrap: wrap;
  gap: 10px;
}

button {
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  background-color: black;
  color: white;
  border: 1px solid #333;
  outline: none;
  flex: 1;
  text-align: center;
}

button:hover {
  transform: scale(1.1); /* Increase the size by 10% */
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto; /* Ensure content is scrollable if it overflows */
}